*egg-info/
.cache/
.idea/
.pkg/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
.vs/
.vscode/
__pycache__/
_temp*/
build/
cache/
data/
dist/
docs/
env/
secrets/
temp/
tests/
venv/
web_gee/

*.bak
*.coverage*
*.iml
*.lnk
*.log
*.pyc
*.pyd
*.pyo
*.swo
*.swp
*.tmp
*~
*credentials.json
*thumbs.db
.DS_Store
.env
.git
.gitignore
.pytest_cache
.Python
.secret
.tif
.up42
__pycache__
Desktop.ini
secrets.env
