### Copy this example to your individual, parallel '.env' file.
### Keep './.env' and './secrets/*' files excluded by '.gitignore'!

# Marine Litter Configuration
# All settings can be overridden with environment variables

# Logging
ML_LOG_LEVEL=INFO
ML_LOG_FORMAT='%(message)-100s |%(levelname).3s %(asctime)s %(filename)s:%(lineno)d'

# Paths
#   PyTorch caches checkpoints in '~/.cache/torch/hub/checkpoints' (default location),
#       in Windows '%USERPROFILE%\.cache\torch\hub\checkpoints'.
ML_CHECKPOINT_FILE='epoch=54-val_loss=0.50-auroc=0.987.ckpt'
ML_CHECKPOINTS='~/.cache/torch/hub/checkpoints/'
ML_CONFIG_PATH=resources/config.geojson
ML_DATES_PATH=resources/dates.json
ML_INPUT_PATH=images/downloaded
ML_OUTPUT_PATH=images/predicted

ML_GOOGLE_CREDS_PATH=secrets/google_credentials.json
ML_UP42_CREDS_PATH=secrets/up42_credentials.json

# Processing
ML_BUCKET_NAME=marinelitter_predicted
ML_DAYS_BEFORE=3
ML_DEVICE=cuda
ML_ORDER_WORKERS=2
ML_PREDICT_WORKERS=4
ML_PRODUCT_ID=1234abcd-4321-cdef-fedc-1234567890ab
