### Copy this example to your .env file (which should stay excluded by .gitignore) and adjust values as needed.

# Marine Litter Configuration
# All settings can be overridden with environment variables

# Logging
ML_LOG_LEVEL=ERROR
ML_LOG_FORMAT='%(message)-120s|%(levelname).1s %(asctime)s %(filename)s:%(lineno)d'

# Paths
ML_CONFIG_PATH=resources/config.geojson
ML_DATES_PATH=resources/dates.json
ML_INPUT_PATH=images/downloaded
ML_OUTPUT_PATH=images/predicted

ML_GOOGLE_CRED_PATH=secrets/google_credentials.json
ML_UP42_CRED_PATH=secrets/up42_credentials.json

# Processing settings
ML_BUCKET_NAME=marine_litter_predicted
ML_DAYS_BEFORE=3
ML_PRODUCT_ID=1234abcd-4321-cdef-fedc-1234567890ab
ML_DEVICE=cuda
ML_ORDER_WORKERS=2
ML_PREDICT_WORKERS=4
