*egg-info/
.cache/
.github/copilot/
.idea/
.pkg/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
.vs/
.vscode/
__pycache__/
_temp*/
build/
dist/
images/
secrets/
site/
temp/

*.coverage*
*.lnk
*.log
*credentials.json
.env
.secret
.tif
.up42
secrets.env
